.slider-container {
    position: relative;
    @include length2;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.slide {
    opacity: 0;
    @include length1;
    top: -15vh;
    left: -15vw;
    position: absolute;
    z-index: 1;
    transition: 0.4s ease;
    @include photo-pos;
}

.slide.active {
    opacity: 1;
}

.arrow {
    position: fixed;
    color: $white;
    background-color: transparent;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid orange;
    cursor: pointer;
}

.arrow:focus {
    outline: 0;
}


.left-arrow {
    left: calc(15vw - 65px);
}

.right-arrow {
    right: calc(15vw - 65px);
}