.slider-container {
    position: relative;
    @include length2;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

.slide {
    opacity: 0;
    @include length1;
    top: -15vh;
    left: -15vw;
    position: absolute;
    z-index: 1;
    transition: 0.4s ease;
    background-position: center center;
    background-size: cover;
    
}

.slider.active {
    opacity: 1;
}