* {
    box-sizing: border-box;
}

body {
    margin: 0;
    @include displayFlex;
    height: 100vh;
    overflow: hidden;
    @include photo-pos;
    transition: 0.4s;
}


body::before {
    position: absolute;
    content: '';
    @include length1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

